.res{
    margin: 80px 94px 30px 78px;
    border: 2px solid #04aa6d;
}
.form{
    margin: 10px 50px 30px 50px;
}
.form-control {
    width: 75%;
}
div.form-group{
    margin-left: 50px;
}

// margin-left: 50px;
