// .res{
//     margin: 80px 94px 30px 78px;
//     border: 2px solid #04aa6d;
// }
// .form{
//     margin: 10px 100px 30px 100px;
// }

.res{
    margin: 80px 10px 0px 0px;
    border-left: 1px solid #cecece;
}
.form{
    margin: 10px 5px 30px 10px;
}

.marginTop{
    margin-top: 11px;
}
.accept{
    margin: 38px 5px 30px 10px;
}