.body{ 
    margin-top: 60px;
    
    top: 17px;
    position: relative;
}
.success {
    color: white;
    font-family: serif;
}

.success:hover {color: green;}

.notification {
    font-family: serif;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;


    
  }
  
  .notification:hover {
    color: rgba(226, 31, 31, 0.589);
  }
  
  .notification .badge {
    position: absolute;
    top: 17px;
    right: 4px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }

  /////////////////////////////////////////////////



  
  