<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="/assets/images/logo.png" 
  />
    <button class="btn buttHom btn-sm fa-lg" [routerLink]="['']"> <i class="fa fa-home x_large" aria-hidden="true"></i>Diagnostic Cancer</button>

    <div class="spacer">
     </div>
      <button class=" btn notification" [routerLink]="['notification']">
      <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
        <span class="badge">3</span>
      </button>
      <button type="submit"
      class="btn myButton btn-sm"   style="margin-left:200;"
      (click)="onLogout()">
      <span>logout</span>
     </button>
</div>