.spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
    background-color:#13364f;
    font-family: serif;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .myButton {
    font-size: 16px;
    cursor: pointer;
    transition: 256ms all;
    font-weight: bold;
    color: white;
  }
  .myButton:hover {
    color: white;
    background-color: rgb(4, 170, 109);
  }
  .buttHom{
    color: white;
  }

  
.notification {
  font-family: serif;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;


  
}

.notification:hover {
  color: rgba(226, 31, 31, 0.589);
}

.notification .badge {
  position: absolute;
  top: 4px;
  right: 10px;
  padding: 4px 8px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
