<div class="editpastient">
<h1 class="fonttext d-flex justify-content-center"> Add Patient</h1>
<br>
<br>
    <form [formGroup]="addpatientForm" (ngSubmit)="addpatient()">
  <div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">First Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" formControlName = "Name" name="name" required >
    </div>
  </div>
  <br>

<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">Last Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg"  formControlName  = "LastName" name="lastname" required >
    </div>
  </div>
  <br>


<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" formControlName  = "Phone" name="phone" required>
    </div>
  </div>
  <br>

<div class="form-group row">
    <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg fonttext">City</label>
    <div class="col-sm-10">
      <input type="text" class="form-control form-control-lg" formControlName = "Town" name="town" required>
    </div>
  </div>
  <div class="buttonGroupe">
    <button type="submit"
        class="btn ButtonCancel btn-sm marginR fonttext"   style="margin-left:200;"
        [routerLink]="['/Doctor/patients']">
        <span>Cancel</span>
    </button>
    <button type="button"
  
        class="btn Buttonedit btn-sm fonttext"   style="margin-left:200;" (click)="addpatient()"
        [routerLink]="['/patients']">
        <span>Add</span>
    </button>
</div>
</form>

