<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="/assets/images/logo.png" 
  />
  <button class="btn buttHom btn-sm fa-lg" [routerLink]="['']"> <i class="fa fa-home x_large" aria-hidden="true"></i></button>
  <!-- <span> Diagnostic Cancer</span> -->
    <div class="spacer">
     </div>
     <span>  </span>
      <button type="submit"
      class="btn myButton btn-sm"   style="margin-left:200;"
      (click)="onLogout()">
      <span>logout</span>
     </button>
</div>
