  <div class="new">
      <div class="row justify-content-center">
          <div class="col-md-2">
              <h4 class="fonttext">First Name: </h4> 
          </div>
          <div class="col-md-3 m-1">
            <h5 class="fonttext info">{{Patient?.Name}}</h5> 
          </div>
      
      </div>
      <div class="row justify-content-center">
          <div class="col-md-2">
              <h4 class="fonttext">Last Name: </h4> 
          </div>
          <div class="col-md-3 m-1">
            <h5 class="fonttext info">{{Patient?.LastName}}</h5> 
          </div>
      
      </div>
      <div class="row justify-content-center">
          <div class="col-md-2">
              <h4 class="fonttext">Type Cancer: </h4> 
          </div>
          <div class="col-md-3 m-1">
            <h5 class="fonttext info">C1</h5> 
          </div>
      
      </div>
      <div class="row justify-content-center">
          <div class="col-md-2">
              <h4 class="fonttext">Phone: </h4> 
          </div>
          <div class="col-md-3 m-1">
            <h5 class="fonttext info">{{Patient?.Phone}}</h5> 
          </div>
      
      </div>
      <div class="row justify-content-center">
          <div class="col-md-2">
              <h4 class="fonttext">City: </h4> 
          </div>
          <div class="col-md-3 m-1">
            <h5 class="fonttext info">{{Patient?.Town}}</h5> 
          </div>
      
      </div>
      
      
  </div>
  <div class="row justify-content-center">
          <div class="col-md-3">
              <button class="buttonDiag"[routerLink]="['/Doctor/diagnosticSienOne',Patient?.IdPatient]" >Diagnostic 1</button>
          </div>
          <div class="col-md-3">
            <button class="buttonDiag" [routerLink]="['/Doctor/diagnosticSienTwo']">Diagnostic 2</button>
          </div>
      
  </div>
  <div class="row justify-content-center">
          <div class="col-md-3">
              <button class="buttonDiag" [routerLink]="['/Doctor/DiagnosticCerveauOne']" >Diagnostic 1</button>
          </div>
          <div class="col-md-3">
            <button class="buttonDiag" [routerLink]="['/Doctor/DiagnosticCerveauTwo']">Diagnostic 2</button>
          </div>
      
  </div>
  <div class="diagtab">
  <table class="table tab">
    <thead class="thead-dark thead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Type Diagnostic</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>09/02/2012</td>
        <td>C1</td>
        <td>
          <button type="button" class="btn buttonview btn-sm" [routerLink]="['/Doctor/PDF']">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>19/05/2021</td>
        <td>C1</td>
        <td>
          <button type="button" class="btn buttonview btn-sm" [routerLink]="['/PDF']">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>25/08/2021</td>
        <td>C1</td>
        <td>
          <button type="button" class="btn buttonview btn-sm" [routerLink]="['/PDF']">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      <!--

      -->
      
    </tbody>
  </table>
  </div>