.new{
    margin-top: 120px;
}
.info{
    color: #545d7a;
}
.buttonDiag{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .buttonDiag:hover{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .diagtab{
      margin: 1px 120px 30px 60px;
  }
  .buttonview{
    background-color: #4eb3d8;
    color: white;
  }