<div class="new">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">First Name: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.Name}}</h5> 
        </div>
    
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">Last Name: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.LastName}}</h5> 
        </div>
    
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">Type Cancer: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">C1</h5> 
        </div>
    
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">Phone: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.Phone}}</h5> 
        </div>
    
    </div>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <h4 class="fonttext">City: </h4> 
        </div>
        <div class="col-md-3 m-1">
          <h5 class="fonttext info">{{Patient?.Town}}</h5> 
        </div>
    
    </div>
    
    
</div>
<div class="row justify-content-center">
        <div class="col-md-3">
            <button class="buttonDiag"[routerLink]="['/Doctor/diagnosticSienOne',Patient?.IdPatient]" >Diagnostic 1</button>
        </div>
        <div class="col-md-3">
          <button class="buttonDiag" [routerLink]="['/Doctor/DiagnosticCerveauOne',Patient?.IdPatient]" >Diagnostic 1</button>
        </div>
    
</div>
<div class="row justify-content-center">
        <div class="col-md-3">
            <button class="buttonDiag" [routerLink]="['/Doctor/diagnosticSienTwo',Patient?.IdPatient]">Diagnostic 2</button>
        </div>
        <div class="col-md-3">
          <button class="buttonDiag" [routerLink]="['/Doctor/DiagnosticCerveauTwo',Patient?.IdPatient]">Diagnostic 2</button>
        </div>
    
</div>
<div class="diagtab">
<table class="table tab">
  <thead class="thead-dark thead">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Type Diagnostic</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let tbldiag of tblDiagnosticBreastOneList" >
      <th scope="row"> {{tbldiag.Date}}</th>
      <th scope="row">Breast One</th>

      <td>
        <button type="button" class="btn buttonview btn-sm" [routerLink]="['/PDF']">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>