<div class="accueill" style="">

    <div class="container">
		<img
		class="rounded mx-auto d-block"
		width="250"
		alt="Angular Logo"
		src="/assets/images/logo.png" 
		/>
		<br>
		 <h4> This site is dedicated to oncologists, and we have developed this site to help doctors diagnose patients and take advantage 
		   of the vast amount of diagnoses in compiling a greater amount of knowledge regarding 
		   these diseases, especially by helping researchers in these fields.</h4>

  	</div>
</div>